body {
  font-size: 20px;
  background-image:url('https://i.pinimg.com/750x/57/26/b8/5726b856f5af6aa0a06f745db706a6fb.jpg');
  background-size: cover 
}    

#bot-ini {
    background-color: #09ff00;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}  
#bot-ini p {
  font-size: 20px; 
}
#inicia-sec-aqui {
  background-color: rgb(119, 119, 119);
  position: absolute;
  left: 32%;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 475px;
  height: 386px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid black;
}

.titulo {
    color: rgb(255, 196, 0);
    font-size: 72px;
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tarjeta-comida {
  width: 270px;
  height: 285px;
  margin: 50px;
  background: #000000;
  box-sizing: border-box;
  border-radius: 70px;
  border: 20px solid rgb(255, 196, 0);
  justify-content: space-evenly;
}
.tarjeta-comida:hover{
  background-color: rgba(0, 162, 255, 0.397);
}
#botonHamburguesa img {
  position: relative;
  left: -65px;
  top: -60px;
  width: 112%;
  height: 240px;
  border-radius: 70px;
  margin: 50px;
}
#botonPicada img {
  position: relative;
  left: -65px;
  top: -60px;
  width: 112%;
  height: 240px;
  border-radius: 70px;
  margin: 50px;
}
#botonArepa img {
  position: relative;
  left: -65px;
  top: -60px;
  width: 112%;
  height: 240px;
  border-radius: 70px;
  margin: 50px;
}
#botonPatacon img {
  position: relative;
  left: -65px;
  top: -60px;
  width: 112%;
  height: 240px;
  border-radius: 70px;
  margin: 50px;
}
#botonSalchi img {
  position: relative;
  left: -65px;
  top: -60px;
  width: 112%;
  height: 240px;
  border-radius: 70px;
  margin: 50px;
}

.hambur-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -49px;
  top: -90px;
  object-fit: contain;
}
.Picada-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -41px;
  top: -50px;
  object-fit: contain;
}
.arepas-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -41px;
  top: -20px;
  object-fit: contain;
}
.patacones-image {
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -41px;
  top: -20px;
  object-fit: contain;
}
.salchipapas-image {
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -41px;
  top: -15px;
  object-fit: contain;
}

.catalogo{
  width: 80%;
  height: 225px;
  border-radius: 50px;
  margin: 30px;
  color: rgb(255, 187, 0);
  background-color: #000000;
  border: 10px solid rgb(255, 196, 0);
  overflow: hidden;
}
.catalogo h2 {
  position: relative;
  left: 120px;
  top: 10px;
}

.catalogo:hover {
  background-color: rgba(0, 0, 0, 0.349);
}

#compraEInfoDeHamburguesa {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}
#HamburImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 60%;
  border-radius: 15px;
}
#HamburImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 60%;
  border-radius: 15px;
}

#compraEInfoDePicada {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#PicadaImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 60%;
  border-radius: 15px;
}
#PicadaImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 60%;
  border-radius: 15px;
}

#compraEInfoDeArepa {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#ArepaImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 60%;
  border-radius: 15px;
}
#ArepaImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 60%;
  border-radius: 15px;
}

#compraEInfoDePatacones {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#PatacoImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 60%;
  border-radius: 15px;
}
#PatacoImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 60%;
  border-radius: 15px;
}

#compraEInfoDeSalchipapas {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#SalchiImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 60%;
  border-radius: 15px;
}
#SalchiImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 60%;
  border-radius: 15px;
}


#contraseña {
  position: relative;
  border-radius: 50px;
  left: 120px;
  top: -110px;
}
#letra-contraseña {
  position: relative;
  left: 100px;
  top: -110px;
}
#usuario{
  position: relative;
  border-radius: 50px;
  left: 196px;
  top: -90px;
}
#letra-usuario {
  position: relative;
  left: -150px;
  top: -55px;
}
#iniciar-secion {
  width: 128px;
  height: 50px;
  position: relative;
  border-radius: 50px;
  left: -10px;
  top: 44px;
  justify-content: space-evenly;
}
#iniciar-secion:hover {
  background-color: #09ff00;
}

#salir-de-hambur {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-hambur p {
  font-size: 20px;
}

#salir-de-picadas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-picadas p {
  font-size: 20px;
}

#salir-de-arepas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-arepas p {
  font-size: 20px;
}
#salir-de-patacones {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-patacones p {
  font-size: 20px;
}
#salir-de-salchipapas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-salchipapas p {
  font-size: 20px;
}

#salir-de-initSection {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-initSection p {
  font-size: 20px;
}

#salir-de-pedidos {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-pedidos p {
  font-size: 20px;
}
#cerrarCompra {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 5px solid rgb(44, 44, 44);
  background-color: #ff0000;
}
