body {
    background-image:url('6fd9b5050c470e1630ca21de0c71ad53.jpg');
    background-size: cover;
  }

#bot-ini {
    background-color: #09ff00;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}  
#bot-ini p {
  font-size: 20px; 
}
#inicia-sec-aqui {
  background-color: rgb(119, 119, 119);
  position: absolute;
  left: 32%;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 475px;
  height: 386px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid black;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 72px;
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tarjeta-comida {
  width: 250px;
  height: 250px;
  padding: 0px;
  background: #f8f8f8;
  box-sizing: border-box;
  border-radius: 70px;
  justify-content: space-evenly;
  align-items: center;
}

.tarjeta-comida:hover{
  background-color: red;
}

.hambur-image{
  position: relative;
  width: 430px;
  height: 240px;
  left: -127px;
  border-radius: 47px;
  object-fit: contain;
}
.Picada-image{
  position: relative;
  width: 430px;
  height: 240px;
  left: -274px;
  border-radius: 47px;
  object-fit: contain;
}
.arepas-image{
  position: relative;
  width: 430px;
  height: 240px;
  left: -188px;
  border-radius: 47px;
  object-fit: contain;
}

.catalogo{
  width: 1000px;
  height: 250px;
  border-radius: 50px;
  margin: 30px;
  color:rgba(87, 87, 87, 0.274);
  overflow: hidden;
}

t {
  font-size: 30px;
  color: rgb(0, 0, 0);
  position: relative;
  top: -197px;
  left: -74px;
}

.catalogo:hover {
  background-color: rgba(255, 255, 255, 0.623);
}

#contraseña {
  position: relative;
  border-radius: 50px;
  left: 120px;
  top: -110px;
}
#letra-contraseña {
  position: relative;
  left: 100px;
  top: -110px;
}
#usuario{
  position: relative;
  border-radius: 50px;
  left: 196px;
  top: -90px;
}
#letra-usuario {
  position: relative;
  left: -150px;
  top: -55px;
}
#iniciar-secion {
  width: 128px;
  height: 50px;
  position: relative;
  border-radius: 50px;
  left: -10px;
  top: 44px;
  justify-content: space-evenly;
}
#iniciar-secion:hover {
  background-color: #09ff00;
}

#salir-de-hambur {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-hambur p {
  font-size: 20px;
}

#salir-de-picadas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-picadas p {
  font-size: 20px;
}

#salir-de-arepas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-arepas p {
  font-size: 20px;
}

#salir-de-initSection {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-initSection p {
  font-size: 20px;
}

#salir-de-pedidos {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 150px;
    height: 60px;
}
#salir-de-pedidos p {
  font-size: 20px;
}