body {
  font-size: 20px;
  background-image:url('https://i.pinimg.com/750x/57/26/b8/5726b856f5af6aa0a06f745db706a6fb.jpg');
  background-repeat: repeat; 
}    

#button-pedidos {
  background-color: #000000;
  border-radius: 30px;
  position: fixed;
  left: 88%;
  top: 35px;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(255, 94, 0);
  justify-content: center;
}

@media (max-width: 600px) {
  #button-pedidos {
    left: 85%;
    top: 35px;
    width: 50px;
    height: 50px;
  } 
}

#button-pedidos img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

#bot-ini {
  background-color: #09ff00;
  border-radius: 20px;
  position: absolute;
  left: 6%;
  top: 35px;
  width: 50px;
  height: 50px;
}  
@media (max-width: 600px) {
  #bot-ini {
  left: 6%;
  top: 7px;
  width: 50px;
  height: 50px;
  }  
}
#inicia-sec-aqui {
  background-color: rgba(119, 119, 119, 0.651);
  position: absolute;
  left: 30%;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 65vh;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(0, 0, 0);
}

@media (max-width: 600px) {
  #inicia-sec-aqui {
    left: 10%;
    width: 300px;
    height: 400px; /* Ajusta la altura para dispositivos móviles */
  }
}

.titulo {
  color: rgb(255, 196, 0);
  font-size: 72px;
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}



.tarjeta-comida {
  width: 270px;
  height: 271px;
  margin: 50px;
  background: #000000;
  box-sizing: border-box;
  border-radius: 70px;
  border: 10px solid rgb(255, 196, 0);
  justify-content: space-evenly;
}
.tarjeta-comida:hover{
  background-color: rgba(0, 162, 255, 0.397);
}
#botonHamburguesa img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonPicada img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonArepa img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonPatacon img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonSalchi img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}

.hambur-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -90px;
  object-fit: contain;
}
.Picada-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -50px;
  object-fit: contain;
}
.arepas-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -20px;
  object-fit: contain;
}
.patacones-image {
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -20px;
  object-fit: contain;
}
.salchipapas-image {
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -15px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .hambur-image{
    left: -16%;
  }
  .Picada-image{
    left: -11%;
    top: -42px;
  }
  .arepas-image{
    top: -30px;
    left: -11%;
  }
  .patacones-image {
    left: -13%;
    top: -30px;
  }
  .salchipapas-image {
    top: -30px;
    left: -16%;
  }
}

.catalogo{
  width: 80%;
  height: 225px;
  border-radius: 50px;
  margin: 30px;
  color: rgb(255, 187, 0);
  background-color: #000000;
  border: 10px solid rgb(255, 196, 0);
  overflow: hidden;
}
.catalogo h2 {
  position: relative;
  left: 255px;
  top: 10px;
}

.catalogo:hover {
  background-color: rgba(0, 0, 0, 0.349);
}

#compraEInfoDeHamburguesa {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#agreHambur1 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 480px;
  left: 70%;
  border-radius: 10px;
  background-color: #09ff00;
}
#agreHambur2 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur3 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur4 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1380px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur5 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1640px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur6 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1900px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur7 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2200px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur8 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2500px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur9 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreHambur10 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 3080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}

#agrePica1 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 480px;
  left: 70%;
  border-radius: 10px;
  background-color: #09ff00;
}
#agrePica2 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica3 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica4 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1380px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica5 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1640px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica6 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1900px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica7 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2200px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica8 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2500px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica9 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePica10 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 3080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}

#agreArepa1 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 480px;
  left: 70%;
  border-radius: 10px;
  background-color: #09ff00;
}
#agreArepa2 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa3 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa4 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1380px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa5 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1640px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa6 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1900px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa7 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2200px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa8 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2500px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa9 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreArepa10 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 3080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}

#agrePataco1 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 480px;
  left: 70%;
  border-radius: 10px;
  background-color: #09ff00;
}
#agrePataco2 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco3 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco4 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1380px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco5 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1640px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco6 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1900px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco7 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2200px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco8 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2500px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco9 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agrePataco10 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 3080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}

#agreSalchi1 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 480px;
  left: 70%;
  border-radius: 10px;
  background-color: #09ff00;
}
#agreSalchi2 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi3 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi4 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1380px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi5 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1640px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi6 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 1900px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi7 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2200px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi8 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2500px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi9 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 2780px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}
#agreSalchi10 {
  position: absolute;
  width: 11%;
  height: 56px;
  top: 3080px;
  left: 70%;
  border-radius: 5px;
  background-color: #09ff00;
}

#HamburImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage1 {
    width: 60%;
  }
}
#HamburImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage2 {
    width: 60%;
  }
}
#HamburImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage3 {
    width: 60%;
  }
}
#HamburImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage4 {
    width: 60%;
  }
}
#HamburImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage5 {
    width: 60%;
  }
}
#HamburImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage6 {
    width: 60%;
  }
}
#HamburImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage7 {
    width: 60%;
  }
}
#HamburImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage8 {
    width: 60%;
  }
}
#HamburImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage9 {
    width: 60%;
  }
}
#HamburImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage10{
    width: 60%;
  }
}

#compraEInfoDePicada {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#PicadaImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage1 {
    width: 60%;
  }
}  
#PicadaImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage2 {
    width: 60%;
  }
} 
#PicadaImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage3 {
    width: 60%;
  }
} 
#PicadaImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage4 {
    width: 60%;
  }
} 
#PicadaImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage5 {
    width: 60%;
  }
} 
#PicadaImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage6 {
    width: 60%;
  }
} 
#PicadaImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage7 {
    width: 60%;
  }
} 
#PicadaImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage8 {
    width: 60%;
  }
} 
#PicadaImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage9 {
    width: 60%;
  }
} 
#PicadaImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage10{
    width: 60%;
  }
} 

#compraEInfoDeArepa {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#ArepaImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage1{
    width: 60%;
  }
} 
#ArepaImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage2{
    width: 60%;
  }
} 
#ArepaImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage3{
    width: 60%;
  }
} 
#ArepaImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage4{
    width: 60%;
  }
} 
#ArepaImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage5{
    width: 60%;
  }
} 
#ArepaImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage6{
    width: 60%;
  }
} 
#ArepaImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage7{
    width: 60%;
  }
} 
#ArepaImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage8{
    width: 60%;
  }
} 
#ArepaImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage9{
    width: 60%;
  }
} 
#ArepaImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage10{
    width: 60%;
  }
} 

#compraEInfoDePatacones {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#PatacoImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage1{
    width: 60%;
  }
} 
#PatacoImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage2{
    width: 60%;
  }
} 
#PatacoImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage3{
    width: 60%;
  }
} 
#PatacoImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage4{
    width: 60%;
  }
} 
#PatacoImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage5{
    width: 60%;
  }
} 
#PatacoImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage6{
    width: 60%;
  }
} 
#PatacoImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage7{
    width: 60%;
  }
} 
#PatacoImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage8{
    width: 60%;
  }
} 
#PatacoImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage9{
    width: 60%;
  }
} 
#PatacoImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage10{
    width: 60%;
  }
} 

#compraEInfoDeSalchipapas {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#SalchiImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage1{
    width: 60%;
  }
} 
#SalchiImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage2{
    width: 60%;
  }
} 
#SalchiImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage3{
    width: 60%;
  }
} 
#SalchiImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage4{
    width: 60%;
  }
} 
#SalchiImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage5{
    width: 60%;
  }
} 
#SalchiImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage6{
    width: 60%;
  }
} 
#SalchiImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage7{
    width: 60%;
  }
} 
#SalchiImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage8{
    width: 60%;
  }
} 
#SalchiImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage9{
    width: 60%;
  }
} 
#SalchiImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage10{
    width: 60%;
  }
} 


#contraseña {
  position: absolute;
  border-radius: 50px;
  left: 10%;
  top: 160px;
}
#letra-contraseña {
  position: absolute;
  left: 10%;
  top: 130px;
}
#usuario{
  position: absolute;
  border-radius: 50px;
  left: 10%;
  top: 70px;
}
#letra-usuario {
  position: absolute;
  left: 10%;
  top: 40px;
}
#iniciar-secion {
  width: 128px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  left: 40%;
  top: 230px;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  #iniciar-secion {
    left: 30%;
    top: 230px;
  }
} 
#iniciar-secion:hover {
  background-color: #09ff00;
}

#salir-de-hambur {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

@media (max-width: 600px) {
  #salir-de-hambur {
    top: 7px;
  }
} 

#salir-de-picadas {
  background-color: #ff0000;
  border-radius: 20px;
  position: absolute;
  left: 6%;
  top: 35px;
  width: 50px;
  height: 50px;
}
@media (max-width: 600px) {
  #salir-de-picadas {
    top: 7px;
  }
} 

#salir-de-arepas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}
@media (max-width: 600px) {
  #salir-de-arepas {
    top: 7px;
  }
} 

#salir-de-patacones {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}
@media (max-width: 600px) {
  #salir-de-patacones {
    top: 7px;
  }
} 

#salir-de-salchipapas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}
@media (max-width: 600px) {
  #salir-de-salchipapas {
    top: 7px;
  }
} 

#salir-de-initSection {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#salir-de-pedidos {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#cerrarCompra {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 5px solid rgb(44, 44, 44);
  background-color: #ff0000;
}

#botonSesionRestorant1 {
  color: white;
  border: 5px solid white;
  background-color: rgba(119, 119, 119, 0.651);
  position: absolute;
  top: 150px;
  left: 530px;
  width: 22%;
  height: 162px;
  border-radius: 35px;
  font-size: 16px;
  transition: transform 0.3s
}
@media (max-width: 600px) {
  #botonSesionRestorant1{
    left: 80px;
    width: 56%;
  }
} 
#botonSesionRestorant1:hover {
  transform: scale(1.1);
}

#salir-de-Peid-restorant {
  background-color: #ff0000;
  border-radius: 20px;
  position: absolute;
  left: 6%;
  top: 35px;
  width: 50px;
  height: 50px; 
}
#salir-de-initSection-Pedid-Fuera-restorant {
  background-color: #ff0000;
  border-radius: 20px;
  position: absolute;
  left: 6%;
  top: 35px;
  width: 50px;
  height: 50px; 
}

#botonSesionRestorant2 {
  color: white;
  border: 5px solid white;
  background-color: rgba(119, 119, 119, 0.651);
  position: absolute;
  top: 380px;
  left: 530px;
  width: 22%;
  height: 162px;
  border-radius: 35px;
  font-size: 16px;
  transition: transform 0.3s
}
@media (max-width: 600px) {
  #botonSesionRestorant2{
    left: 80px;
    width: 56%;
  }
} 
#botonSesionRestorant2:hover {
  transform: scale(1.1);
}

.nuevo-div {
  width: 80%;
  height: 225px;
  border-radius: 50px;
  margin: 30px;
  color: rgba(0, 0, 0, 0.527);
  background-color: #000000;
  border: 10px solid rgb(208, 255, 0);
  overflow: hidden;
  color: yellow;
}

#verMyPedido {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  top: 40px;
  left: 15%;
  z-index: 1;
  border: 10px solid rgb(0, 0, 0);
  box-shadow: 12px -9px rgb(208, 255, 0);
  overflow: auto; /* Agregar barras de desplazamiento si es necesario */
  background-color: rgba(77, 77, 77, 0.356);
}
@media (max-width: 600px) {
  #verMyPedido {
    position: fixed;
  }
} 

#closeDivMiCarrito {
  position: fixed;
  left: 78%;
  width: 75px;
  height: 50px;
  border-radius: 30px;
  border: 5px solid rgb(44, 44, 44);
  background-color: #ff0000;
}
@media (max-width: 600px) {
  #closeDivMiCarrito {
    left: 18%;
    width: 50px;
    height: 50px;
  }
} 