body {
  font-size: 20px;
  background-image:url('https://i.pinimg.com/750x/57/26/b8/5726b856f5af6aa0a06f745db706a6fb.jpg');
  background-size: cover 
}    

#bot-ini {
    background-color: #09ff00;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}  
#inicia-sec-aqui {
  background-color: rgba(119, 119, 119, 0.651);
  position: absolute;
  left: 30%;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 65vh;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(0, 0, 0);
}

@media (max-width: 600px) {
  #inicia-sec-aqui {
    left: 10%;
    width: 300px;
    height: 400px; /* Ajusta la altura para dispositivos móviles */
  }

}

.titulo {
    color: rgb(255, 196, 0);
    font-size: 72px;
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tarjeta-comida {
  width: 270px;
  height: 271px;
  margin: 50px;
  background: #000000;
  box-sizing: border-box;
  border-radius: 70px;
  border: 10px solid rgb(255, 196, 0);
  justify-content: space-evenly;
}
.tarjeta-comida:hover{
  background-color: rgba(0, 162, 255, 0.397);
}
#botonHamburguesa img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonPicada img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonArepa img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonPatacon img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}
#botonSalchi img {
  position: relative;
  left: -57px;
  top: -54px;
  width: 106%;
  height: 237px;
  border-radius: 62px;
  margin: 50px;
}

.hambur-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -90px;
  object-fit: contain;
}
.Picada-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -50px;
  object-fit: contain;
}
.arepas-image{
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -20px;
  object-fit: contain;
}
.patacones-image {
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -20px;
  object-fit: contain;
}
.salchipapas-image {
  display: flex;
  position: relative;
  width: 120%;
  height: 240px;
  left: -45%;
  top: -15px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .hambur-image{
    left: -16%;
  }
  .Picada-image{
    left: -11%;
    top: -42px;
  }
  .arepas-image{
    top: -30px;
    left: -11%;
  }
  .patacones-image {
    left: -13%;
    top: -30px;
  }
  .salchipapas-image {
    top: -30px;
    left: -16%;
  }
}

.catalogo{
  width: 80%;
  height: 225px;
  border-radius: 50px;
  margin: 30px;
  color: rgb(255, 187, 0);
  background-color: #000000;
  border: 10px solid rgb(255, 196, 0);
  overflow: hidden;
}
.catalogo h2 {
  position: relative;
  left: 255px;
  top: 10px;
}

.catalogo:hover {
  background-color: rgba(0, 0, 0, 0.349);
}

#compraEInfoDeHamburguesa {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#HamburImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage1 {
    width: 60%;
  }
}
#HamburImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage2 {
    width: 60%;
  }
}
#HamburImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage3 {
    width: 60%;
  }
}
#HamburImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage4 {
    width: 60%;
  }
}
#HamburImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage5 {
    width: 60%;
  }
}
#HamburImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage6 {
    width: 60%;
  }
}
#HamburImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage7 {
    width: 60%;
  }
}
#HamburImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage8 {
    width: 60%;
  }
}
#HamburImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage9 {
    width: 60%;
  }
}
#HamburImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #HamburImage10{
    width: 60%;
  }
}

#compraEInfoDePicada {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#PicadaImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage1 {
    width: 60%;
  }
}  
#PicadaImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage2 {
    width: 60%;
  }
} 
#PicadaImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage3 {
    width: 60%;
  }
} 
#PicadaImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage4 {
    width: 60%;
  }
} 
#PicadaImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage5 {
    width: 60%;
  }
} 
#PicadaImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage6 {
    width: 60%;
  }
} 
#PicadaImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage7 {
    width: 60%;
  }
} 
#PicadaImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage8 {
    width: 60%;
  }
} 
#PicadaImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage9 {
    width: 60%;
  }
} 
#PicadaImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PicadaImage10{
    width: 60%;
  }
} 

#compraEInfoDeArepa {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#ArepaImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage1{
    width: 60%;
  }
} 
#ArepaImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage2{
    width: 60%;
  }
} 
#ArepaImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage3{
    width: 60%;
  }
} 
#ArepaImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage4{
    width: 60%;
  }
} 
#ArepaImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage5{
    width: 60%;
  }
} 
#ArepaImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage6{
    width: 60%;
  }
} 
#ArepaImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage7{
    width: 60%;
  }
} 
#ArepaImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage8{
    width: 60%;
  }
} 
#ArepaImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage9{
    width: 60%;
  }
} 
#ArepaImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #ArepaImage10{
    width: 60%;
  }
} 

#compraEInfoDePatacones {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#PatacoImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage1{
    width: 60%;
  }
} 
#PatacoImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage2{
    width: 60%;
  }
} 
#PatacoImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage3{
    width: 60%;
  }
} 
#PatacoImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage4{
    width: 60%;
  }
} 
#PatacoImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage5{
    width: 60%;
  }
} 
#PatacoImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage6{
    width: 60%;
  }
} 
#PatacoImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage7{
    width: 60%;
  }
} 
#PatacoImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage8{
    width: 60%;
  }
} 
#PatacoImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage9{
    width: 60%;
  }
} 
#PatacoImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #PatacoImage10{
    width: 60%;
  }
} 

#compraEInfoDeSalchipapas {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 585px;
  border-radius: 25px;
  overflow: hidden;
  border: 10px solid rgb(255, 196, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 196, 0);
}

#SalchiImage1 {
  position: absolute;
  left: 17%;
  top: 45px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage1{
    width: 60%;
  }
} 
#SalchiImage2 {
  position: absolute;
  left: 17%;
  top: 345px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage2{
    width: 60%;
  }
} 
#SalchiImage3 {
  position: absolute;
  left: 17%;
  top: 630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage3{
    width: 60%;
  }
} 
#SalchiImage4 {
  position: absolute;
  left: 17%;
  top: 910px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage4{
    width: 60%;
  }
} 
#SalchiImage5 {
  position: absolute;
  left: 17%;
  top: 1200px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage5{
    width: 60%;
  }
} 
#SalchiImage6 {
  position: absolute;
  left: 17%;
  top: 1460px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage6{
    width: 60%;
  }
} 
#SalchiImage7 {
  position: absolute;
  left: 17%;
  top: 1760px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage7{
    width: 60%;
  }
} 
#SalchiImage8 {
  position: absolute;
  left: 17%;
  top: 2050px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage8{
    width: 60%;
  }
} 
#SalchiImage9 {
  position: absolute;
  left: 17%;
  top: 2340px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage9{
    width: 60%;
  }
} 
#SalchiImage10 {
  position: absolute;
  left: 17%;
  top: 2630px;
  width: 30%;
  border-radius: 15px;
}
@media (max-width: 600px) {
  #SalchiImage10{
    width: 60%;
  }
} 


#contraseña {
  position: absolute;
  border-radius: 50px;
  left: 10%;
  top: 160px;
}
#letra-contraseña {
  position: absolute;
  left: 10%;
  top: 130px;
}
#usuario{
  position: absolute;
  border-radius: 50px;
  left: 10%;
  top: 70px;
}
#letra-usuario {
  position: absolute;
  left: 10%;
  top: 40px;
}
#iniciar-secion {
  width: 128px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  left: 40%;
  top: 330px;
  justify-content: space-evenly;
}
#iniciar-secion:hover {
  background-color: #09ff00;
}

#salir-de-hambur {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#salir-de-picadas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#salir-de-arepas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#salir-de-patacones {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#salir-de-salchipapas {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#salir-de-initSection {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#salir-de-pedidos {
  background-color: #ff0000;
    border-radius: 20px;
    position: absolute;
    left: 6%;
    top: 35px;
    width: 50px;
    height: 50px;
}

#cerrarCompra {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 5px solid rgb(44, 44, 44);
  background-color: #ff0000;
}
